<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Natural Language Processig</title>
    <meta name="viewport" content=" initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>


<body>   
    <div class="container">
        <h1>
            {{message}}
        </h1>

        <form #myform="ngForm" (ngSubmit)="register(myform)">
            <div class="form-group">
                <label for="title">Başlık</label>
                <input name="title" id="title" type="text" ngModel required class="form-control">


            </div>

            <div class="form-group">
                <label for="context">İçerik</label>
                <textarea rows="15" name="context" id="context" type="text" ngModel required
                    class="form-control"></textarea>

            </div>

            <button class="btn btn-primary">Submit</button>
        </form>

        <ng-container *ngIf="show2">
            <div class="loading"></div>
        </ng-container>

         <form #myform2="ngForm" (ngSubmit)="registerLink(myform2)">
            <div class="form-group">
                <label for="url">Link</label>
                <input name="url" id="url" type="text" ngModel required class="form-control">

            </div>
            <button class="btn btn-primary">Submit Link</button>
        </form>
        
        <ng-container *ngIf="show">
            <h4> {{baslik}} <span class="label label-default">Özet</span> </h4>
            <h5>   <p class="text-style">{{ozet}}</p>  </h5>
        </ng-container>

    </div>


</body>