<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Natural Language Processig</title>
    <meta name="viewport" content=" initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">


</head>


<body>

    <div id="tabs" style="padding-left: 10px;" #tabs>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#YaziOzeti" [ngClass]="{ 'active':activeTab==='yaziOzeti'}"
                    (click)="yaziOzeti('yaziOzeti')" data-toggle="tab">Yazı Özeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#LinkOzeti" [ngClass]="{ 'active':activeTab==='linkOzeti'}" data-toggle="tab"
                    (click)="linkOzeti('linkOzeti')">Link Özeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#DosyaOzeti" [ngClass]="{ 'active':activeTab==='dosyaOzeti'}"
                    data-toggle="tab" (click)="dosyaOzeti('dosyaOzeti')">Dosya Özeti</a>
            </li>
        </ul>

        <div class="tab-content">
            <div style="padding-top: 20px;" class="tab-pane" id="yaziOzeti"
                [ngClass]="{ 'active':activeTab==='yaziOzeti'}">

                <div style="padding-top: 10px;" class="container">
                    <h1>
                        {{message}}
                    </h1>
                    <form #myform="ngForm" (ngSubmit)="register(myform)">
                        <div class="form-group">
                            <label for="title">Başlık</label>
                            <input style="height:30px" name="title" id="title" type="text" ngModel required
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="context">İçerik</label>
                            <textarea rows="15" name="context" id="context" type="text" ngModel required
                                class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>

                    <ng-container *ngIf="show2">
                        <div class="loading"></div>
                    </ng-container>

                    <ng-container *ngIf="show">
                        <h4> {{baslik}} <span class="label label-default">Özet</span> </h4>
                        <main role="main" class="container">
                            <p style="margin-bottom: 10rem;white-space:pre-wrap;">{{ozet}}</p>
                        </main>
                    </ng-container>
                </div>

            </div>
            <div style="padding-top: 20px;" class="tab-pane" id="linkOzeti"
                [ngClass]="{ 'active':activeTab==='linkOzeti'}">
                <div style="padding-top: 20px;" class="container">

                    <select [(ngModel)]="selectpicker" id="selectpicker" (change)="selector($event.target.value)"
                        class="selectpicker">
                        <option value="hürriyet" (click)="selector('hürriyet')">Hürriyet</option>
                        <option value="milliyet" (click)="selector('milliyet')">Milliyet</option>
                        <option value="sabah" (click)="selector('sabah')">Sabah</option>
                        <option value="posta" (click)="selector('posta')">Posta</option>
                    </select>

                    <form #myform2="ngForm" (ngSubmit)="registerLink(myform2)">
                        <div class="form-group">
                            <label style="margin-top: 2rem" for="url">Link</label>
                            <input style="height:30px" name="url" id="url" type="text" ngModel required
                                class="form-control">
                        </div>
                        <button class="btn btn-primary">Submit Link</button>
                    </form>

                    <ng-container *ngIf="show2">
                        <div class="loading"></div>
                    </ng-container>

                    <ng-container *ngIf="showLinkOzet">
                        <h4><span class="label label-default">Özet</span> </h4>
                        <main role="main" class="container">
                            <p style="margin-bottom: 10rem;white-space:pre-wrap;">{{ozetLink}}</p>
                        </main>
                    </ng-container>
                </div>
            </div>

            <div style="padding-top: 20px;" class="tab-pane" id="dosyaOzeti"
                [ngClass]="{ 'active':activeTab==='dosyaOzeti'}">
                <div style="padding-top: 20px;" class="container">

                    <div class="col-md-10">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Choose File <input type="file" id="pdf-file" name="file" style="display: none;"
                                        (change)="onFileChange($event)">
                                </span>
                            </label>
                            <input type="text" class="form-control" id="pdf-name" style="height:30px"
                                [(ngModel)]="fileSelect" placeholder="{{fileSelect}}" readonly>
                            <label class="input-group-btn">
                                <button class="btn btn-primary" (click)="submitFile()">Submit File</button>
                            </label>
                        </div>

                    </div>

                    <br /> <br />
                    <ng-container *ngIf="showFileOzet">
                        <h4><span class="label label-default">Özet</span> </h4>
                        <main role="main" class="container">
                            <p style="margin-bottom: 10rem;white-space:pre-wrap;">{{ozetFile}}</p>
                        </main>
                    </ng-container>

                </div>
            </div>
        </div>

    </div>


</body>